{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'publications' or post.collection == 'portuguese' or post.collection == 'projects' %}
    <div class="accordion">
      <input id="{{ post.id }}" type="checkbox" class="accordion-toggle" name="toggle" />
        <label for="{{ post.id }}">

          <p class="prp">
          {% if post.doilink %}
            <a href="{{ post.doilink }}" target="_blank" style = "text-decoration:none">{{ title }}<i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
          {% else %}
            {{ title }}
          {% endif %}

          {% if post.journal or post.year or post.coauthors %} <br/> {% endif %}
          {% if post.journal %} <span class="journal">{{ post.journal }}</span> {% endif %}
          {% if post.year %}<span class="add">,</span> <span class="text"> {{ post.year }} </span> {% endif %}
     
          {% if post.coauthors %}
            <span class = "text" > (with 
            {% for key in post.coauthors %}
              {% if forloop.first %}  {% else %}
              {% if forloop.last %} and {% else %} <span class="add">,</span> {% endif %}
              {% endif %}
              {% if key[1] %}
              <a href="{{ key[1] }}" target="_blank">{{ key[0] }}</a>
              {% else %}
              {{ key[0] }} 
              {% endif %}
            {% endfor %}   
            <span class="add">)</span></span>   
          {% endif %}
          </p>
        </label>
        <section>
          {% if post.buttons %}
            <br/> <br/>
            {% if post.buttons.wppdf %}
              <a href="{{ post.buttons.wppdf }}" target="_blank" class="btn--research" style="font-size:0.8em">Working Paper<i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.buttons.wplink %}
            <a href="{{ post.buttons.wplink }}" target="_blank" class="btn--research" style="font-size:0.8em">Working Paper<i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.buttons.srrn %}
            <a href="{{ post.buttons.srrn }}" target="_blank" class="btn--research" style="font-size:0.8em">Working Paper<i class="ai ai-ssrn ai-fw" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.buttons.repec %}
            <a href="{{ post.buttons.repec }}" target="_blank" class="btn--research" style="font-size:0.8em">Working Paper<i class="ai ai-ideas-repec ai-fw" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.buttons.repfiles %}
            <a href="{{ post.buttons.repfiles }}" target="_blank" class="btn--research" style="font-size:0.8em">Replication Files <i class="ai ai-open-data ai-fw" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.buttons.bibtex %}
            <a href="{{ post.buttons.bibtex }}" target="_blank" class="btn--research" style="font-size:0.8em">BibTeX <i class="fas fa-file-alt zoom" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.buttons.scholar %}
            <a href="{{ post.buttons.scholar }}" target="_blank" class="btn--research" style="font-size:0.8em">Google Scholar <i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i></a>
            {% endif %}
          {% endif %}
          {% if post.abstract %}
            <br/> <br/>
            {% if post.buttons %}<br/>{% endif %}
            <span class="text" style="margin-bottom:50px;"> <b>Abstract:</b> {{post.abstract }} </span>
          {% endif %}
          {% if post.presentations %}
            <br/> <br/>
            {% if post.buttons or post.abstract %}<br/>{% endif %}
            <span class="text"> <b> Presentations: </b>
            {% for key in post.presentations %}
              {% if forloop.first %}  {% else %} | {% endif %}
              {{ key }} 
            {% endfor %}   
            </span>   
          {% endif %}
        </section>
      </div>

    {% endif %}

    <!-- <p class="prp">
      {% if post.collection == 'projects' %}

      {% if post.doilink %}
        <b>></b> <a href="{{ post.doilink }}" target="_blank" style = "text-decoration:none">{{ title }}</a>
      {% else %}
      <b>></b> {{ title }}
      {% endif %}

      {% if post.coauthors %}
        <br/>
        <span class = "text" > (with 
        {% for key in post.coauthors %}
          {% if forloop.first %}  {% else %}
          {% if forloop.last %} and {% else %} <span class="add">,</span> {% endif %}
          {% endif %}
          {% if key[1] %}
          <a href="{{ key[1] }}" target="_blank">{{ key[0] }}</a>
          {% else %}
          {{ key[0] }} 
          {% endif %}
        {% endfor %}   
        <span class="add">)</span></span>   
      {% endif %}

      {% if post.presentations %}
        <br/>
        <span class="text">
        <b> Presentations: </b>
        {% for key in post.presentations %}
          {% if forloop.first %}  {% else %} | {% endif %}
          {{ key }} 
        {% endfor %}   
        </span>   
      {% endif %}

    {% endif %}
    </p>     -->
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
<!--           <p>Published in <i>{{ post.venue }}</i> 
          {% if post.coauthors == 1 %}
            jointly with <a href="{{ post.coauthor1_site }}" target="_blank">{{ post.coauthor1 }}</a>
          {% elsif post.coauthors == 2 %}
            & <a href="{{ post.coauthor2_site }}" target="_blank">{{ post.coauthor2 }}</a>
          {% endif %}
          , {{post.date | default: "1900-01-01" | date: "%Y" }} </p> -->
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div>
